<div class="ui dimmer divisible active">
        <div class="ui modal visible active">

            <i class="close icon"></i>
                <div class="header">
                        MODAL!
                </div>
                
                <div class="content">
                    <p>
                        Some content for the modal widnow should go right here! 
                    </p>
                </div>
                
                <div class="action">
                    <button class="ui botton">OK</button>
                </div>
        </div>

</div>